	body{

    }
.my-10{
	margin-bottom: 10rem!important;
}
    .front-logo {
        max-height: 70px;
    }
    header.masthead {
        background: url(./img/bg-masthead-1.jpg),#7b4397;
        background: url(./img/bg-masthead-1.jpg),linear-gradient(to left,#7b4397,#6017b7);
        height: 100vh;
        padding-top: unset;
        padding-bottom: unset;
    }

    header.masthead .header-content h1 {
      color: #ffffff;
      font-weight: 600;
      text-transform: uppercase;
      -webkit-text-stroke: 2px #68258a;
      font-size: 54px
    }

    header.masthead .header-content p {
      font-size: 24px;
    }

    
    #mainNav .navbar-nav>li>a, #mainNav .navbar-nav>li>a:focus {
        /*color: #68258a;*/
        color: black;
        font-weight: 600;
    }
    #mainNav .navbar-nav>li>a:focus:hover, #mainNav .navbar-nav>li>a:hover {
        color: #000;
    }
    #mainNav .navbar-nav>li>a.active {
        color: #00c9ff!important;
    }

    .text-center-text{
    	font-size: 18px;
    	line-height: 27px;
    	color:#272727;
    	font-weight: 600;
    	letter-spacing: 0.5px;
    }

    section h2.row-title{
            font-size: 40px;
    }

    section.services .feature-item i {
        background: linear-gradient(to left,#5b12b2,#5edcfc);
        -webkit-background-clip: text;
        background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    footer {
      padding: 50px 0;
    }
    footer ul.list-social li a {
      font-size: 28px;
    }

    .floating{
    animation: floating linear 10s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: floating linear 10s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: floating linear 10s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: floating linear 10s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: floating linear 10s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}




    #social-sidebar {
      right: 0;
      position: fixed;
      top: 30%;
      z-index: 8;
    }
    #social-sidebar li:first-child a { border-top-left-radius: 5px; }
    #social-sidebar li:last-child a { border-bottom-left-radius: 5px; }
     
    #social-sidebar a {
      background: rgba(0, 0, 0, .7);
      color: #fff;
        text-decoration: none;
      display: block;
      height: 50px;
      width: 50px;  
      font-size: 24px;
      line-height: 50px;
      position: relative;
      text-align: center;
        cursor: pointer;
    }
    #social-sidebar a:hover span {
      right: 120%;
      opacity: 1;
    }
    #social-sidebar a span {
      font: 12px "Open Sans", sans-serif;
      text-transform: uppercase;
      border-radius: 3px;
      line-height: 24px;
      right: -100%;
      margin-top: -16px;
      opacity: 0;
      padding: 4px 8px;
      position: absolute;
      transition: opacity .3s, left .4s;
      top: 50%;
      z-index: -1;
    }
     
    #social-sidebar a span:before {
      content: "";
      display: block;
      height: 8px;
      width: 8px;
      left: -4px;
      margin-top: -4px;
      position: absolute;
      top: 50%;
      transform: rotate(45deg);
    }
    

    #social-sidebar a[class*="instagram"]:hover,
    #social-sidebar a[class*="instagram"] span,
    #social-sidebar a[class*="instagram"] span:before {background: #795548;}

    #social-sidebar a[class*="twitter"]:hover,
    #social-sidebar a[class*="twitter"] span,
    #social-sidebar a[class*="twitter"] span:before {background: #00aced;}
     
    #social-sidebar a[class*="facebook"]:hover,
    #social-sidebar a[class*="facebook"] span,
    #social-sidebar a[class*="facebook"] span:before {background: #3B5998;}
     
    #social-sidebar a[class*="gplus"]:hover,
    #social-sidebar a[class*="gplus"] span,
    #social-sidebar a[class*="gplus"] span:before {background: #E34429;}
     
    #social-sidebar a[class*="dribbble"]:hover,
    #social-sidebar a[class*="dribbble"] span,
    #social-sidebar a[class*="dribbble"] span:before {background: #ea4c89;}
     
    #social-sidebar a[class*="dropbox"]:hover,
    #social-sidebar a[class*="dropbox"] span,
    #social-sidebar a[class*="dropbox"] span:before {background: #8DC5F2;}
     
    #social-sidebar a[class*="github"]:hover,
    #social-sidebar a[class*="github"] span,
    #social-sidebar a[class*="github"] span:before {background: #9C7A5B;}
     
    #social-sidebar a[class*="evernote"]:hover,
    #social-sidebar a[class*="evernote"] span,
    #social-sidebar a[class*="evernote"] span:before {background: #6BB130;}


    #social-sidebar a[class*="linkedin"]:hover,
    #social-sidebar a[class*="linkedin"] span,
    #social-sidebar a[class*="linkedin"] span:before {background: #007bff;}


      .whatsapp-float{
        position:fixed;
        width:60px;
        height:60px;
        bottom:40px;
        right:40px;
        background-color:#25d366;
        color:#FFF;
        border-radius:50px;
        text-align:center;
        font-size:30px;
        box-shadow: 2px 2px 3px #999;
        z-index:100;
      }

      .whatsapp-float i{
        margin-top:16px;
      }

#mainNav .navbar-nav>li>a{
	    color: #0a878a;
    text-shadow: 2px 1px #f1f1f1;
}
h1.page-title{
	font-size: 3vw;
    line-height: 1;
    margin-bottom: 2vw;
    font-weight: 900;
    font-family: Rightgrotesk,Arial,sans-serif;
}
.section-header{
	padding-top: 80px;
	background-color: rgb(158 153 212);
	color:white;
  background: url('../../../img/bg_2.svg');
  background-position: center;
  background-size: cover;
}

.section-header .page-title{
  color:#22262a;
}

footer{
	text-align:unset;
	color:white;
}

footer ul li{
	margin-bottom: 10px;
	font-size:18px;
}

footer hr {
	max-width: unset;
	margin: 40px auto 40px;
	border-color: #707070;

}

footer h3{
	font-size:30px;
}

footer p, footer ul{
	font-size:17px;
	margin-bottom: 10px;
}

footer ul.social{
	padding:16px 0;
}

footer p.big{
	font-size: 26px;
    line-height: 38px;
}

footer span{
	line-height: 32px;
    font-size: 16px;
}

footer span.copyright{
	color: #585858;
}

.zoom{
	transition: transform .2s;
}

.zoom:hover{
	transform: scale(1.2);
}

hr.red.left{
	max-width: 50px;
    margin: 0 0px 5px;
    border-width: 2px;
    border-color: #dc3545;
    margin-bottom: 10px;
}
section.projects .gal-column .row.h-50{
  margin-left: unset;
  margin-right: unset;
}
section.projects .project-item-content:hover{
	opacity: 1;
}

section.projects .project-item-content{
	position: relative;
	height: 100%;
	/*background-color: #f8f9fa8f;*/
	background-color: #000000b3;
  color: white;
  opacity: 0;
	transition: opacity 0.3s;
	padding: 20px;
	cursor:pointer;
}

section.projects .project-item-caption{
	position: absolute;
	/*bottom: 20px;*/
	top: 50%;
	transform: translateY(-50%);
	padding:20px;
}

section.projects .project-item-caption span{
	line-height: 25px;
	/*font-weight: 600*/
}

section.services a{
	text-decoration: none;
	color: #077f85;
}

section.services .feature-item{
	padding-top: unset;
	margin-bottom: 70px;
	padding-bottom: 4px;
	transition: transform .2s;
	z-index: 1;
}

section.services .feature-item:hover{
	transform: scale(1.05);
    background-color: #ffffff;
    box-shadow: 0 10px 30px 0 rgb(0 0 0 / 13%);
    z-index: 99;
}

section.services .feature-caption{
	padding: 10px;
}

section.contact p{
	font-weight: 600;
}

section.about h3, section.guarantee h3{
	font-size: 2.3rem;
	font-weight: 600;
}

section.guarantee {
  padding-top: unset;
}

section.guarantee .card {
    margin-bottom: 3rem
  }
section.guarantee .card .card-icon-top{
  font-size: 5rem;
}
section.guarantee .card .card-title{
  font-size: 1.5rem;
  font-weight: 600;
}
section.guarantee .card {
  padding:30px;
}

.category-tab p{
	color: black;
	font-size: 18px;
	margin-bottom: unset;
}

.category-tab:hover{
	background-color: #7accc8;
	color: white!important;
}

.category-tab:hover p{
	color: white!important;
}

.category-tab.active{
	background-color: rgb(248, 171, 7)!important;
	/*border-radius: 5px;*/
	color: white!important;
}

.category-tab.active p{
	color: white!important;
  /*font-weight: 600;*/
}

.project-desc{
  padding: 90px 90px;
}

.project-tab .category-tab{
  /*border: 1px solid #000;"*/
  background-color: #7accc8;border:unset;color:white
}

.project-tab .category-tab:hover{
  background-color: rgb(248, 171, 7);
  border:unset;
  color: white!important;
}

.project-tab .category-tab p{
  color: white!important;
}

a.decoration-n{
	text-decoration: none;
	color: black;
}

section.about .video-link{
	cursor:pointer;
}

section.about h4{
  font-size: 1.5rem;
    font-weight: 600;
}


 @keyframes floating { 
        0% {
          transform:  rotate(0deg) ;
        }
        50% {
          transform:  rotate(10deg) ;
        }
        100% {
          transform:  rotate(0deg) ;
        }   
    } 

@media screen and (max-width: 600px) {
  h1.page-title {
    font-size: 9vw;
    text-shadow: 2px 1px #f1f1f1;
  }
  p {
    margin-bottom: unset;
  }
  #social-sidebar a {
      height: 37px;
      width: 30px;
      font-size: 15px;
      line-height: 40px;
  }
  footer p.big {
      font-size: unset;
      line-height: unset;
  }

  section {
    padding: 50px 0;
  }
  section.contact p.h1{
    font-size: 1.5rem;
  }
  .row.service-tab{
    margin: unset;
  }
  .project-desc{
    padding: 15px;
  }
  .project-desc .text-center-text{
    font-weight: unset;
  }
  section.projects #project-list{
    padding:10px;
  }

  section.projects .gal-item{
    margin-bottom: 42px;
  }
  section.projects #project-list .box{
    background-position: center;
    background-size: cover;
  }

  section.projects #project-list .gal-item .c1-i1 {
      min-height: 300px;
  }

  section.projects .project-item-content{
    opacity: 1;
    background-color: unset;
  }

  section.projects .project-item-caption {
    position: absolute;
    bottom: 0;
    top: unset;
    transform: unset;
    padding: 9px;
    background-color: #00aaad;
    margin-right: 20px;
        min-width: 200px;
  }

  section.projects .project-item-caption hr.left {
    border-color: #ffc107;
  }

  section.projects .project-item-caption .h2{
    font-size: 1.2rem;
  }
  section.projects .project-item-caption span{
    display: none;
  }

}

@media screen and (min-width: 900px) {
  section.guarantee .card {
    width:25rem;
  }
  section.contact .img-fluid.map{
    height: 450px;
  }
}